* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.home_wrapper {
	display: grid;
	.header {
		display: grid;
		height: 120px;
		widows: 100%;
		background-color: green;
		background: url("/assets/logo-bg.png");
		grid-template-columns: 110px 1fr;

		.logo {
			display: grid;

			align-self: center;
			justify-self: center;
		}

		.logo_name {
			display: grid;
			grid-template-rows: 1fr 1fr;

			.logo_name1 {
				display: grid;
				align-self: end;
				font-family: "Merriweather", sans-serif;
				font-size: 28px;

				color: #ffffff;
				text-align: left;
			}
			.logo_name2 {
				align-self: top;
				font-family: "Merriweather", sans-serif;
				font-size: 15px;
				color: #ffffff;
				text-align: left;
			}
		}
	}

	.intro {
		display: grid;
		height: 180px;
		width: 100%;
		grid-template-columns: 70% 30%;

		@media only screen and (max-width: 1024px) {
			grid-template-columns: 1fr;
			height: auto;
		}

		.intro1 {
			display: grid;
			font-family: "Merriweather", sans-serif;
			font-size: 18px;
			color: #444444;
			text-align: center;
			align-self: center;
			padding: 50px;
			@media only screen and (max-width: 1024px) {
				font-family: "Merriweather", sans-serif;
				font-size: 20px;
				padding: 30px;
				line-height: 1.6;
			}
		}
		.intro2 {
			display: grid;
			font-family: "Merriweather", sans-serif;
			font-size: 15px;
			text-align: center;
			display: grid;
			grid-template-rows: 80px 60px 30px;
			color: #444444;

			@media only screen and (min-width: 768px) and (max-width: 1024px) {
				grid-template-rows: 50px 60px 30px;
			}

			div:first-child {
				display: grid;
				align-self: flex-end;
				font-size: 22px;
				text-decoration: underline;
				font-weight: 700;
			}

			div:nth-child(2) {
				display: grid;
				align-self: center;
				font-size: 34px;
				font-family: "Roboto";
			}

			div:nth-child(3) {
				display: grid;
				align-self: flex-end;
				font-size: 14px;
				opacity: 0.7;
				align-self: auto;
				font-family: "Roboto";
			}
		}
	}
}

.fab {
	position: fixed;
	z-index: 9999;
	right: 20px;
	bottom: 20px;
}

.btn {
	width: auto;
	background-color: #f2f2f2;
	height: auto;
	border-radius: 5px;
	display: flex;
	align-items: center;
	padding-right: 12px;
	font-size: 20px;
}

a {
	color: #000000;
} /* Unvisited link  */
a:visited {
	color: #000000;
} /* Visited link    */
a:hover {
	color: grey;
} /* Mouse over link */
a:active {
	color: grey;
} /* Selected link   */

a,
u {
	text-decoration: none;
}

.call {
	font-size: 16px;
}

.num {
	font-size: 22px;
}

.tab-wrap {
	display: grid;
	position: relative;
	grid-template-columns: 1fr 1fr;
	width: 90%;
	height: auto;
	margin: 0 auto;
	padding: 50px 0px;

	@media only screen and (max-width: 1024px) {
		grid-template-columns: 1fr;
		padding: 0px 0px;
		width: 100%;
	}

	.tab-left {
		display: grid;
		grid-template-rows: 1fr;

		.tab-left2 {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			@media only screen and (min-width: 768px) and (max-width: 1024px) {
				display: grid;

				padding: 20px;
			}

			@media only screen and (max-width: 767px) {
				display: grid;
				grid-template-columns: 1fr;
				padding: 20px;
				justify-items: center;
			}
		}
	}
}

.bx {
	display: grid;
	width: 300px;
	max-height: 200px;
	grid-template-rows: 40px 1fr;

	box-shadow: 0 10px 20px rgba(56, 52, 52, 0.17);

	text-align: center;
}

.tab-right {
	display: grid;
	grid-gap: 12px;
	grid-template-columns: repeat(2, 1fr);
	justify-self: center;
}

.circle {
	width: 180px;
	height: 180px;
	border-radius: 50%;

	background-color: grey;

	// background: url("../assets/img1.svg");
}

.one {
	background: url("../assets/img1.svg");
	background-position: 50% 50%;
	background-size: cover;
	border-radius: 50%;
}

.two {
	background: url("../assets/img2.svg");
	background-position: 50% 50%;
	background-size: cover;
	border-radius: 50%;
}

.three {
	background: url("../assets/img3.svg");
	background-position: 50% 50%;
	background-size: cover;
	border-radius: 50%;
}

.four {
	background: url("../assets/img4.svg");
	background-position: 50% 50%;
	background-size: cover;
	border-radius: 50%;
}

.bubbles-inside {
	width: 120px;
	opacity: 0.2;
	top: 130px;
	left: 470px;
	z-index: -1;
	position: absolute;
}

.patterns-inside {
	opacity: 0.4;

	z-index: -1;
	position: absolute;
	display: grid;
	justify-self: center;
	width: 50%;
}

.li {
	padding: 5px;
	color: #000080;
}

.mini-title {
	align-self: center;
	font-size: 18px;
	color: #444444;
	font-weight: 700;
	font-family: "Merriweather", sans-serif;
}

.mini-heading {
	font-family: "Noto Sans", sans-serif;
	font-size: 32px;
	font-weight: 500;
}

.sub-heading {
	font-size: 24px;
	align-self: flex-end;
	font-family: "Merriweather", sans-serif;
}

.banner-wrap {
	display: grid;
	font-family: "Merriweather", sans-serif;
	font-size: 15px;
	text-align: center;
	display: grid;
	grid-template-rows: 80px 60px 30px;
	padding: 20px;
	background-color: #f2f2f2;
	color: #444444;

	div:first-child {
		display: grid;
		align-self: flex-end;
		font-size: 22px;
		text-decoration: underline;
		font-weight: 700;
	}

	div:nth-child(2) {
		display: grid;
		align-self: center;
		font-size: 34px;
		font-family: "Roboto";
	}

	div:nth-child(3) {
		display: grid;
		align-self: flex-end;
		font-size: 14px;
		opacity: 0.7;
		align-self: auto;
		font-family: "Roboto";
	}
}

loc-title {
	font-family: Arial;
}

.container {
	display: grid;
	grid-template-columns: auto auto auto;
	background: #f5f5f5;
	width: 100%;
	height: auto;
	padding: 2em 1em;

	@media only screen and (min-width: 768px) and (max-width: 1024px) {
		display: grid;
		grid-template-columns: auto auto;
	}
	@media only screen and (max-width: 767px) {
		display: grid;
		grid-template-columns: auto;
	}
}

.about {
	line-height: 1.4;
	font-family: "Roboto";
	font-size: 18px;
	font-weight: 300;
}

.contact {
	@media only screen and (min-width: 768px) and (max-width: 1024px) {
		display: grid;
		grid-column: 1/-1;
	}
}

article {
	line-height: 1.4;
}

.col {
	padding: 1em;
}

.big {
	padding-left: 2em;
	border-left: 2px solid rgb(187, 187, 187);
	border-right: 2px solid rgb(187, 187, 187);

	@media only screen and (max-width: 767px) {
		padding-left: 1em;
		border-left: 0px solid rgb(187, 187, 187);
		border-right: 0px solid rgb(187, 187, 187);
	}
}

h3 {
	align-items: center;
}

article {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	padding-right: 1em;
	font-family: arial;
}

.footer {
	display: grid;
	background-color: #2c5c93;
	width: 100%;
	color: #fff;
	grid-column: 1/-1;
	height: 50px;

	align-items: center;
	justify-content: center;
}

.phone-no {
	font-weight: bold;
}

h2 {
	padding-bottom: 2em;
}

.big h2 {
	padding-bottom: 1em;
}

h4 {
	display: inline;
}

h2,
h3,
.phone-no {
	color: #101010;
}

iframe {
	padding-top: 2em;
}
